.slot-machine {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slots {
    position: relative;
    width: 474px; /* 3 * 158px */
    height: 474px; /* 3 * 158px */
    display: flex;
    justify-content: space-between;
    padding: 48px; /* Increase padding */
    background: linear-gradient(45deg, grey 0%, lightgray 100%);
    border-top: 2px solid rgba(255, 255, 255, 0.6);
    border-right: 2px solid rgba(255, 255, 255, 0.6);
    border-left: 2px solid rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.reel {
    position: relative;
    width: 158px; /* Double the width */
    height: 474px; /* Adjust height */
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    overflow: hidden;
    background-image: url('https://assets.codepen.io/439000/slotreel.webp');
    background-position: 0 0;
    background-repeat: repeat-y;
    transition: background-position-y 0.5s ease;
}

.re-spin-button {
    margin-top: 30px;
    padding: 20px 40px; /* Bigger button */
    font-size: 1.8rem; /* Larger text */
    background-color: #f04;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.re-spin-button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

p {
    text-align: center;
    font-size: 1.6rem; /* Increased font size */
    color: #444;
}